html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Loading Overlay*/

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  
  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Hidden state */
  .hidden {
    opacity: 0;
    visibility: hidden;
  }  

/* Rest of Website*/

img {
    border-radius: 5px;
}

.main-content {
    padding-left: 100px;
    padding-right: 100px;
}

.chapter-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

.headline {
    padding-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    gap: 20px; /* Gap between grid items */
    height: 100%;
    overflow: visible;
}

/* Ensure equal width for columns */
.column {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; /* Stack content vertically within each column */
}

.row-1, .row-2 {
    width: 100%; /* Full width within the column */
    align-items: flex-start;

}

.row-1 {
    flex-direction: row; /* Stack items vertically within the row */
}

.row-2 {
    position: relative;
    flex-direction: column;
    width: 100%; /* Adjust as necessary */
    height: 100%; /* Ensure it takes up the full height of its parent */
    display: flex; /* Flexbox to manage its children if needed */
    align-items: center;
    justify-content: space-between; /* Ensure content stretches to the sides */
  }


/* Experiment exception */

.row-2-experiment {
    position: relative;
    flex-direction: row;
    width: 100%; /* Adjust as necessary */
    height: 100%; /* Ensure it takes up the full height of its parent */
    display: flex; /* Flexbox to manage its children if needed */
    align-items: center;
    justify-content: space-between; /* Ensure content stretches to the sides */
  }

/* Additional styling for text content */

h1, .readable-text {
    width: 100%; /* Full width to ensure it takes up the entire row width */
    margin: 0; /* Remove default margin */
}

.readable-text {
    text-align: left;
    font-size: 1vw;
    line-height: 1.5;
    color: #333;
    column-count: 2;
    column-fill: balance; /* Allow the content to fill columns naturally */
    column-gap: 40px;
    position: relative; /* Relative positioning to use pseudo-element */
}

h1 {
    text-align: left;
    font-size: 2vw;
    line-height: 1.5;
    color: #333;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding-bottom: 16px;
}


/* Styles for rows within columns to ensure they take full width */

#slider {
    padding: 20px;
    align-items: center;
    gap: 10px;
}

/*********** Baseline, reset styles ***********/
.hdw-slider, .controlability-slider {
    -webkit-appearance: none;
    appearance: none;
    background: transparent; /* Transparent background for custom styling */
    cursor: pointer;
    width: 25rem; /* Width similar to the baseline style */
  }
  
  /* Removes default focus */
  .hdw-slider:focus, .controlability-slider:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera, and Edge Chromium styles ********/
  /* slider track */
  .hdw-slider::-webkit-slider-runnable-track, .controlability-slider::-webkit-slider-runnable-track {
    background-color: #ddd; /* Light grey track */
    border-radius: 5px; /* Rounded corners for track */
    height: 1rem; /* Track height */
  }
  
  /* slider thumb */
  .hdw-slider::-webkit-slider-thumb, .controlability-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: 0px; /* Centers thumb on the track */
    background-color: #808080; /* Grey thumb color */
    border-radius: 4px; /* Rounded corners for thumb */
    height: 1rem; /* Thumb height */
    width: 1rem; /* Thumb width */
  }
  
  .hdw-slider:focus::-webkit-slider-thumb, .controlability-slider:focus::-webkit-slider-thumb {
    background-color: #ff0000; /* Outline color when focused */
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  .hdw-slider::-moz-range-track, .controlability-slider::-moz-range-track {
    background-color: #d0d0d0; /* Light grey track */
    border-radius: 5px; /* Rounded corners for track */
    height: 1rem; /* Track height */
  }
  
  /* slider thumb */
  .hdw-slider::-moz-range-thumb, .controlability-slider::-moz-range-thumb {
    background-color: #808080; /* Grey thumb color */
    border: none; /* Removes extra border that Firefox applies */
    border-radius: 4px; /* Rounded corners for thumb */
    height: 1rem; /* Thumb height */
    width: 1rem; /* Thumb width */
  }
  
  .hdw-slider:focus::-moz-range-thumb, .controlability-slider:focus::-moz-range-thumb {
    outline: 3px solid #808080; /* Outline color when focused */
    outline-offset: 0.125rem; /* Offset for the outline */
  }
  

/* timeline formats */

#timeline {
    position: absolute; /* Fixed positioning within the relative parent container */
    bottom: 0; /* Align to the bottom of the parent container */
    left: 0; /* Align to the left */
    right: 0; /* Stretch to the right */
    height: 300px; /* Adjust height as needed */
    width: 100%; /* Full width of the container */
    background-color: #ffffff; /* Optional: Background color for visibility */
    display: flex; /* Flexbox for alignment if needed */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    z-index: 10; /* Ensure it sits above other elements if necessary */
}

/* Ensure the SVG is properly positioned and layered */
.timeline-svg {
    position: absolute; /* Overlay within the parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensures SVG does not block interactions */
    overflow: visible;    
}

/* Adjust markers to be on a different layer if necessary */
.timeline-marker {
    width: 11px;
    height: 11px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transform: translate(-40%, -50%);
    transition: background-color 0.3s, width 0.3s, height 0.3s;
}

/* For active markers, if they need to be above everything */
.timeline-marker.active {
    background-color: red;
    width: 15px;
    height: 15px;
}

/* Ensure years are correctly positioned relative to markers */
.timeline-year {
    position: absolute;
    transform: translate(-100%, -130%) rotate(14deg);
    font-size: 12px;
    color: black;
}

.timeline-svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#left-arrow, #right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1em;
    user-select: none;
}

#left-arrow {
    left: -49px;
}

#right-arrow {
    right: -29px;
}

.row-1-timeline {
    width: 80%;
    height: 400px;
    background-color: #ffffff;
}

/* search formats */

#searchInput {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    color: #333;
    font-weight: 500;
    letter-spacing: 0.1em;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    display: block;
}

#searchInput:focus {
    border-color: #d55b5b;
}

#searchResults {
    display: grid;
    padding-inline: 130px;
    grid-template-columns: repeat(4, 8dvw);
    grid-template-rows: repeat(4, 8dvw);
    gap: 10px;
}

.image-item {
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.image-item:hover {
    transform: scale(1.1) rotate(2deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    z-index: 10;
}

.image-item:active {
    transform: scale(2.7);
    z-index: 16;
}

.image-item img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.image-item p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    text-align: justify;
}

.page-index {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.page-number, .experiment-button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.page-number.active, .page-number:hover, .experiment-button.active, .experiment-button:hover {
    background-color: #ff0000;
    color: white;
}

/* Animated Images Container */

.animated-image-container {
    perspective: 1000px; /* Adds a 3D perspective effect */
    overflow: visible; /* Keeps overflow visible */
}
  
.animated-image {
    width: 100%; /* Sets width to 40% of the container */
    animation: subtleMovement 20s ease-in-out infinite; /* Keyframe animation */
    transform-style: preserve-3d; /* Preserves 3D transformations for child elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
@keyframes subtleMovement {
    0% {
    transform: rotate3d(1, 0, 0, -6deg) rotate3d(0, 1, 0, 6deg);
    }
    25% {
    transform: rotate3d(1, 0, 0, -6deg) rotate3d(0, 1, 0, -6deg);
    }
    50% {
    transform: rotate3d(1, 0, 0, 6deg) rotate3d(0, 1, 0, -6deg);
    }
    75% {
    transform: rotate3d(1, 1, 0, 6deg) rotate3d(1, 1, 0, 6deg);
    }
    100% {
    transform: rotate3d(1, 0, 0, -6deg) rotate3d(0, 1, 0, 6deg);
    }
}